notebooks/luis/code/__pycache__/*
notebooks/luis/code/helpers/__pycache__/*
notebooks/luis/code/logs/*

notebooks/luis/code/__pycache__/gpio.cpython-310.pyc
notebooks/luis/code/helpers/__pycache__/helpers.cpython-310.pyc
notebooks/luis/code/logfile
notebooks/luis/code/cam-dot-py-logfile
notebooks/luis/code/__pycache__/camera.cpython-310.pyc
notebooks/luis/code/__pycache__/state_machine.cpython-310.pyc
notebooks/luis/code/timedata/__pycache__
notebooks/luis/code/timedata/fetching-tests/
notebooks/luis/code/timedata/microcontroller-runtimes.csv
notebooks/luis/code/timedata/__pycache__/plots.cpython-310.pyc
notebooks/luis/code/helpers/sensors.py
code/helpers/__pycache__
code/timedata/__pycache__
code/logs
code/__pycache__
